<table class="table">
  <thead>
    <tr>
      <th class="text" class="text" scope="col">Valor</th>
      <th class="text" scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    {{#each mediciones}}
    <tr>
    <td class="text" >{{valor}}</td>
    <td class="text" >{{fecha}}</td>
    </tr>            
    {{/each}}
  </tbody>
</table>