<ul class="nav nav-tabs" id="nav" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="medidas-tab" data-toggle="tab" href="/medidas" role="tab" aria-controls="medidas" aria-selected="true" onclick="activarMedidas('blue');">Medidas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="mapa-tab" data-toggle="tab" href="/medidas/mapa" role="tab" aria-controls="mapa" aria-selected="false" onclick="activarMapa('blue');">Mapa</a>
  </li>
</ul>